// ==========================================================================
// #Past Work Menu
// ==========================================================================

%collabs-menu__item {
 		height: 100%;
 		position: relative; 
		@extend %circle;
		@extend %circle-bottom;

		@include media-query(medium) {
			flex: 1 0 50%;
		}

		@include media-query(large) {
			flex: unset;
		}

		display: block;
		.svg path,
		.svg polygon {
			fill: white!important;
			@include transition(.25s ease-in-out);
		}

		&:hover .svg path,
		&:hover .svg polygon{
			fill: $color-brand!important;
		}

		&:hover .collabs-menu__link {
			opacity: 1;
			bottom: 0;
			@include transform(translateY(0));
		}
}

%collabs-menu__item--active {
	.svg path,
	.svg polygon{
		fill: $color-brand!important;
	}

	@extend %circle;
	@extend %circle-bottom;

	&:before {
		margin-bottom: 1.5rem;
		background-color: $color-brand;
		@include transition(.25s ease-in-out);
	}
}

.collabs-menu {	
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);

	@include media-query(large) {
		-webkit-flex-wrap: nowrap;
  		flex-wrap: nowrap;
	}

	&__item {
	   	@extend %collabs-menu__item;
	}

	&__link {
		@include transition(.25s ease-in-out);
		opacity: 0;
		@include transform(translateY(50%));
	}

}