// ==========================================================================
// #Past Work Menu
// ==========================================================================


%services-menu__item {
    position: relative;

	@include media-query(small) {
		display: inline-block;
		margin-right: 1.2rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

%services-menu__link {
	color: $color-brand;
}

%services-menu__link-active {
	font-weight: bold;
	color: $color-brand;
	@extend %circle;
	@extend %circle-bottom;

	&:before {
		bottom: -.7rem;
		background-color: $color-brand;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}

.services-menu {
	position: relative;
    width: auto;
    display: inline-block;	
	@extend %line;
	@extend %line-top;
	@extend %line--full;

	&:before {
	    top: -1.2rem;
	}

	&__item {
		@extend %services-menu__item;
	 	
	 	& a {
	 		@extend %services-menu__link;
	 	}

	 	&--active {
	 		@extend %services-menu__item;

	 		& a {
	 			@extend %services-menu__link-active;
	 		}
	 	}
	}

}