// ==========================================================================
// #Section Stetements
// ==========================================================================

.slider-statements {

	&__list {

	}

	&__item {
		max-width: 800px;
		margin: 0 auto;
		font-size: 2.5rem;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: rgb(233,233,233);
		font-style: italic;;
		font-weight: 800;
		text-align: center;
	}

}


.Carousel{
	margin: 0 -15px;
 	position: relative;
  width: 100%;
  height: 100%;
  background: blue;
  overflow: hidden;

  .Carousel-Slide{
    left: 0;
    position: relative;
    background: grey;
    height: 100%;
    transition: left 1s linear;
    background-color: #2e2e2e;
        padding: 14rem 0;

    .Carousel-Slide-item{
      height: 100%;
      float: left;
    }
  }
}
.Carousel-Controller, .Carousel-Controller-Nav{
  box-sizing: border-box;
  height: auto;
  left: 0;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;

  .Carousel-Controller-Nav-right{
    float: right;
  }
}
[class^=Carousel-Controller-Nav-]{
  color: white;
  cursor: pointer;
  width: auto;
  float:left;
  font-size: 30px;
  height: 100%;
  &:hover{
    color: #000;
  }
}

.Carousel-Controller-Btn-left {
	@extend %triangle-left;

	&:before {
		border-right: 9px solid #e9e9e9;
	}
}

.Carousel-Controller-Btn-right {
	@extend %triangle-right;
	&:before {
		border-left: 9px solid #e9e9e9;
	}
}