// ==========================================================================
// #Post Featured
// ==========================================================================


.posts-featured {	
	text-align: left;

	@include media-query(medium) {
		text-align: center;
	}
	
	&__list {
		@include media-query(medium) {
			display: inline-block;
		    text-align: left;
		    padding-left: 115px;
		}
	}

	&__item {
	    padding-bottom: 1rem;
	}

	&__link {

		& span {
			padding-bottom: 6px;
		}
	}

}