// ==========================================================================
// #Section: About Thumbnail
// ==========================================================================


.single-thumbnail {

	&__wrap {
		position: relative;
	}

	&__overlay {
		@extend %overlay;
		z-index: 900;
	    margin-bottom: 2.3rem;
	}

	&__img {
		position: relative;
		height: 100%;
	    width: 100%;
	    object-fit: contain;
	}

	&__title {
		position: absolute;
	    font-weight: 800;
	    text-transform: uppercase;
	    font-size: 2.6rem;
	    line-height: 1.8;
	    top: 50%;
	    width: 100%;
	    z-index: 1000;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	}

}