// ==========================================================================
// #Buttons
// ==========================================================================

%line:before {
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
}

%line-top:before {
    top: 0;
    height: 2px;
    background: $color-brand;
}

%line--full:before {
    width: 100%;
}