// ==========================================================================
// #Layout Global
// ==========================================================================
//
//  Table of Content
//  
//  - Containers
//  - Row
//  -

.container {
    max-width: 760px;
	margin: 0 auto;
	padding: 0 15px;

    &--fluid {
        max-width: unset;
        width: unset;
        margin: 0 auto;
    }

    &--small {
        max-width: 760px;
    }

    &--narrow {
        margin: 0 30%;
    }

    &--wider {
        max-width: 1240px;
    }
}

.section {
    @include clearfix;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 100;

    &--inverted {
        background-color: #1c1c1c;
        color: rgb(233,233,233);
    }

    

    &--small {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &--medium {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &--large {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    &--special {
        padding-top: 0;
        padding-bottom: 0;
    }

    &--70-30 {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    &--rub {
        padding-bottom: 40px;
    }

    &--text {
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &--collabs-home {
        padding-bottom: 0;
        padding-top: 140px;
    }

    &--statements {
        background-color: #2e2e2e;
        padding: 14rem 0;
    }

    &--featured-home {
        padding-bottom: 130px;
    }

    &--footer {
        padding-bottom: 30px;
    }
}

