// ==========================================================================
// #Base
// ==========================================================================

*, *:before, *:after {
	@include box-sizing(border-box);
}

body {
	   font-family: $global-font-family;
    font-size: $global-font-size;
    line-height: ($global-line-height/$global-font-size);
    color: $global-text-color;
    background-color: $global-background-color;

    @include media-query(medium) {
        font-size: 100%;
    }

    @if ($global-body-antialiased) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}

a {
    @include transition(.2s ease-in-out);
    text-decoration: none;
    color: rgb(28,28,28);

    &:hover {
        color: $color-brand;
    }
}

img {
    max-width: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 10px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #c1c6cb;
}

blockquote {
    font-weight: bold;
    display: block;
    margin: 10px 0 0;
    color: $color-brand;
    padding: 1.5rem 2.5rem;
    background: #1c1c1c;

    & p {
        text-transform: uppercase;
        line-height: unset;
        margin-bottom: 0;
    }
}

 
  
