// ==========================================================================
// #Base
// ==========================================================================

*, *:before, *:after {
	@include box-sizing(border-box);

    &{
        outline: 0!important;
    }
}

 

body {
    font-family: $global-font-family;
    font-size: $global-font-size;
    line-height: ($global-line-height/$global-font-size);
    color: $global-text-color;
    background-color: $global-background-color;

    &.is-active .site-header__hamburger{

    }

    @include media-query(medium) {
        font-size: 100%;
    }

    @if ($global-body-antialiased) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}

a {
    @include transition(.2s ease-in-out);
    text-decoration: none;
    color: rgb(28,28,28);

    &:hover {
        color: $color-brand;
    }
}

img {
    max-width: 100%;
    //margin: 0 0 2rem;
}

svg {
    width: 100%;
    height: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
}

h4 {
    font-weight: 800;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    line-height: 1.8rem;
    font-size: .9rem;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #c1c6cb;
}

main {

    & h2 {
        font-weight: 800;
        margin-bottom: .8rem;
        font-size: 1rem;

    }

    & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
